.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.square {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  font-size: 8px;
}

.dot {
  width: 22px;
  height: 22px;
  display: inline;
  border-radius: 50%;
}

.row {
  white-space: nowrap;
  height: 30px;
  justify-content: flex-start;
  display: flex;
}

.board {
  border: 3px solid black;
}

.title {
  text-align: center;
}

.scoreboard {
  border: 1px solid black;
  width: 200px;
  height: 50%;
}

.pair {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
